* {
    margin: 0;
}

header {
    background-color: rgb(41, 41,41);
    text-align: center;
    padding: 10px;
    color: white;
}

.all-content {
    display: flex;
}

.side {
    background-color: gray;
    flex: 20;
}

.side h2 {
    font-size: 20px;
}

.cityInput {
    margin-left: 5px;
}

.searchBtn {
    height: 30px;
    width: 30px;
}

.cities p {
    border: 1px solid pink;
    margin: 5px;
    padding: 10px;
}

.main-content {
    background-color: white;
    flex: 80;
}

.current {
    padding: 15px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 5px;
}

.current h2 {
    margin: 5px 0;
}

.current p {
    margin: 15px 0;
}

footer {
    margin: 5px;
    padding: 15px;
}

.five {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.days {
    width: 160px;
    height: 200px;
    background-color: rgb(0, 119, 255);
    color: white;
    margin-top: 10px;
}

.days h3,
.days p {
    margin: 25px 5px;
}